[submodule "bin/colout-dir"]
	path = bin/colout-dir
	url = https://github.com/nojhan/colout
[submodule "bin/iongraph"]
	path = bin/iongraph
	url = https://github.com/sstangl/iongraph
[submodule "bin/ohmyzsh"]
	path = bin/ohmyzsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "bin/Vundle.vim"]
	path = bin/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "bin/watchman-dir"]
	path = bin/watchman-dir
	url = https://github.com/facebook/watchman
