[submodule "bin/ohmyzsh"]
	path = bin/ohmyzsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "bin/z"]
	path = bin/z
	url = https://github.com/rupa/z
[submodule "bin/fzf"]
	path = bin/fzf
	url = https://github.com/junegunn/fzf.git
