// Remove frames around panes.
pane_frames false;

keybinds {
  normal {
    // What a way to leave an app.
    unbind "Ctrl q"

    // Remap resize to Alt+R.
    unbind "Ctrl n"
    bind "Alt r" { SwitchToMode "resize"; }

    // Remap Ctrl+P to Alt+P.
    unbind "Ctrl p"
    bind "Alt p" { SwitchToMode "pane"; }

    // Remap Ctrl+O to Alt+O.
    unbind "Ctrl o"
    bind "Alt o" { SwitchToMode "session"; }

    // Too many conflicts with ^W+H in vim/helix.
    unbind "Ctrl h"
    bind "Alt m" { SwitchToMode "move"; }

    // Ctrl s is a shortcut in helix too; remap to Alt+S for consistency.
    unbind "Ctrl s"
    bind "Alt s" { SwitchToMode "search"; }

    // Remap Ctrl+T to Alt+T.
    unbind "Ctrl t"
    bind "Alt t" { SwitchToMode "tab"; }

    // Alt+f to open a floating pane.
    bind "Alt f" { ToggleFloatingPanes; }
  }
}
