[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
#NoDisplay=true
Exec=/home/ben/.files/private/bin/nightly-dir/firefox-bin %u
Icon=/home/ben/.files/private/bin/nightly-dir/browser/chrome/icons/default/default128.png
Name=Nightly
